style {
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

}
body {
    padding: 50px;
    background-color: #b47cf5;
    font-family: 'Amatic SC', cursive;
    list-style: none;
    
  }
  #container {
    display: flex;
    justify-content: center;
    list-style: none;
  }
